<%
# Parameters:
#   ad - the ad for which a video will be embedded
%>

<div class="youtube_embed">
  <iframe src="<%= ad.video_embed_url %>" width="640" height="390"
    frameborder="0"></iframe>
</div>
