@import "css/mixins";

#discussions {

  .container { background-color: #EEEEEE; }

  h3 { margin-top: 20px; }

  .discussionInput {
    margin-top: 20px;

    input[type=text] {
      display: inline-block;
      width: 600px;
      height: 30px;
      font-size: 1.1em;
      padding: 0px 5px;
      margin-right: 10px;
    }

    input[type=submit] {
      display: inline-block;
      padding: 7px;
    }
  }

  .discussionInputPlaceholder {
    font-size: 1.2em;
    margin: 20px 0px;
  }

  .discussionList {
    border: 1px solid $lightGray;
    border-top: none;
    width: 825px;

    .discussion {
      display: block;
      padding: 10px;
      border-top: 1px solid $lightGray;
      color: #333333;
      font-size: 1.2em;

      &:hover {
        color: $highlight;
        @include box-shadow(0px 0px 10px $lightGray);
      }

      .title { font-weight: bold; }
      .commentNumber { float: right; }
    }
  }
}
