<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/labs/discussions.css") %>
<% end %>

<div id="discussions">
  <div class="container">
    <h3>Start a discussion to brainstorm ideas.</h3>
    <div class="newDiscussionInput">
      <input type="text" />
      <a href="" class="button">Start Discussion</a>
    </div>
  </div>
</div>
