<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/labs/ideas.css") %>
<% end %>

<div id="ideas">
  <div class="container">
    <h3>Start a thread to discuss and brainstorm ad ideas.</h3>
    <div class="newThreadInput">
      <input type="text" />
      <a href="" class="button">Create Thread</a>
    </div>
  </div>
</div>
