<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/labs/placeholder.css") %>
<% end %>

<div id="labsPlaceholder">
  <div class="container">
    <h1>Coming Soon</h1>
    <p>Social Teeth Labs will provide resources on how to make a video on a low budget, how to tell an effective story, as well as connections to filmmakers who can help make your message a reality.</p>
    <p>Labs will also be a place for you to brainstorm ideas, seek feedback on scripts, storyboards or rough cuts, and connect with like or unlike-minded individuals.</p>
  </div>
</div>
