<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/labs/resources.css") %>
<% end %>
<div id="resources">
  <div class="container">
    <h3>Social Teeth Labs can help you make a great ad.</h3>
    <p>These resources can help turn your idea into a broadcast-ready ad.</p>
    <div class="resource">
      <div class="title"><a href="http://www.epipheo.com/">Epipheo Studios</a></div>
      <div class="subtitle">Revealing truth through animation.</div>
      <div class="body">
        <div class="thumbnail">
          <a href="http://www.epipheo.com/">
            <img src="/images/labs/resources/epipheo.png" alt="epipheo" />
          </a>
        </div>
        <div class="description">
          <blockquote>At Epipheo Studios, our primary aim is to reveal meaning in a way that changes people's lives. Other Internet video studios limit themselves to answering the question, "How does it work?" We're obsessed with communicating, "Why does it matter?" We see everything from the perspective of your target audience, making them the main character in each video. We show them in a fun and simple way why your product, service or idea matters to their lives.</blockquote>
        </div>
      </div>
    </div>
    <div class="resource">
      <div class="title"><a href="http://www.turnhere.com/">Turn Here</a></div>
      <div class="subtitle">Easy and affordable video production and photography.</div>
      <div class="body">
        <div class="thumbnail">
          <a href="http://www.turnhere.com/">
            <img src="/images/labs/resources/turnhere.png" alt="turnhere" />
          </a>
        </div>
        <div class="description">
          <blockquote>TurnHere makes web video production and professional photography easy and affordable. We match the creative vision of our customers with the right filmmakers, photographers, producers and editors around the world and give them the tools to work together efficiently.</blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
