<div id="videoHeading">
  <a href='#' name="Chart">Just Show me the Videos</a>
</div>

<div id="fullFlow">
  <div id='flowChartTitleDiv' >
    <p id ='flowChartTitle' name="Chart">Diagnose Your Issue</p>
  </div>

  <div class="Tier1" id="Tier1">
    <img class="subFlowChart" id="Tier1Prompt" src="/images/FlowChart/Tier1Question.png" alt="flowchart" />
    <img class="subFlowChartFork" id="Tier1Yes" src="/images/FlowChart/Tier1YesBlack.png" name="Tier2Question" alt="flowchart"/>
    <img class="subFlowChartFork" id="Tier1No" src="/images/FlowChart/Tier1NoBlack.png" name="Tier1End" alt="flowchart">
  </div>

  <div class="Tiers" id="Tier2Question">
    <img class="subFlowChart" id="Tier2Prompt" src="/images/FlowChart/Tier2Question.png" alt="flowchart" />
    <img class="subFlowChartFork" id="Tier2Yes" src="/images/FlowChart/Tier2YesBlack.png" name="Tier3Question" alt="flowchart"/>
    <img class="subFlowChartFork" id="Tier2No" src="/images/FlowChart/Tier2NoBlack.png" name="Tier2End" alt="flowchart">
  </div>

  <div class="Tiers" id="Tier3Question">
    <img class="subFlowChart" id="Tier3Prompt" src="/images/FlowChart/Tier3Question.png" alt="flowchart" />
    <img class="subFlowChartFork" id="Tier3Yes" src="/images/FlowChart/Tier3YesBlack.png" name="Tier3End" alt="flowchart"/>
    <img class="subFlowChartFork" id="Tier3No" src="/images/FlowChart/Tier3NoBlack.png" name="Tier4Question" alt="flowchart" />
  </div>

  <div class="Tiers" id="Tier4Question">
    <img class="subFlowChart" id="Tier4Prompt" src="/images/FlowChart/Tier4Question.png" alt="flowchart" />
    <img class="subFlowChartFork" id="Tier4Yes" src="/images/FlowChart/Tier4YesBlack.png" name="Tier4YesEnd" alt="flowchart"/>
    <img class="subFlowChartFork" id="Tier4No" src="/images/FlowChart/Tier4NoBlack.png" name="Tier4NoEnd" alt="flowchart"/>
  </div>

  <div class="Tiers" id="Tier1End">
    <a href="/ads/67a642c8f8f04a968a7596e6061eafbb">
      <img class="subFlowChartEnd" id="Tier1EndImg" src="/images/FlowChart/Tier1EndBlack.png" alt="flowchart" />
    </a>
  </div>

  <div class="Tiers" id="Tier2End">
    <a href="/ads/7a36a3bef62c43b6b706925e794e8e75">
      <img class="subFlowChartEnd" id="Tier2EndImg" src="/images/FlowChart/Tier2EndBlack.png" alt="flowchart" />
    </a>
  </div>

  <div class="Tiers" id="Tier3End">
    <a href="/ads/b0163a600ae34d8c9b18a4439b47ae9b">
      <img class="subFlowChartEnd" id="Tier3EndImg" src="/images/FlowChart/Tier3EndBlack.png" alt="flowchart" />
    </a>
  </div>

  <div class="Tiers" id="Tier4NoEnd">
    <a href="/ads/59fe94c0eb244d64bc38364817b95a32">
      <img class="subFlowChartEnd" id="Tier4EndImgNo" src="/images/FlowChart/Tier4NoEndBlack.png" alt="flowchart" />
    </a>
  </div>

  <div class="Tiers" id="Tier4YesEnd">
    <a href="/ads/9e89a57ebaa744408ca8230e7b04ff8d">
      <img class="subFlowChartEnd" id="Tier4EndImgYes" src="/images/FlowChart/Tier4YesEndBlack.png" alt="flowchart" />
    </a>
  </div>

  <div class="Tiers" id="Tier4YesEndReload">
    <img class="subFlowChartEnd" id="Tier4YesEndReloadImg" src="/images/FlowChart/Tier4YesEndReload.png" alt="flowchart" />
  </div>
  
  <img id="Donate" src="/images/FlowChart/Donate.png" alt="flowchart"/>
</div>
