
<div class="socialSharing">
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
     addthis:url="http://socialteeth.org"
     addthis:title="Social Teeth"
     addthis:description="Fund the independent ads that YOU care about.">
     
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
   </div>
   <script type="text/javascript">
    var addthis_config = { "data_track_addressbar": true };
    var addthis_share = {
      templates: {
        twitter: 'Check it out!',
              //preload facebook content same way...
          }
      }
   </script>
   <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506bbab12a7eb599"></script>
</div>

