<% content_for :head do %>
  <%= @pinion.css_url("/css/about.css") %>
<% end %>

<div id="about">
  <h2>About Social Teeth</h2>
  <h3>Submit an Ad</h3>
  <ol>
    <li>You have a PSA, political ad, video petition, or work of art that you have circulated on social media. Your work has over 1000 views, likes or tweets and you want to take it further.</li>
    <li>You submit your broadcast-quality, 30-60 second ad to Social Teeth and fill out our submitter questionnaire. This will allow you to work with <a href="http://www.aegisglobal.com/">Aegis</a>, a major media-buying group, to decide where your ad will have the most bite.
    <li>We bring people to your message. People make small monetary contributions in support of launching your work into the mainstream media.</li>
    <li>Once your ad has reached the fundraising target, it goes on the air.</li>
  </ol>
  <h3>Support an Ad</h3>
  <ol>
    <li>You are tired of the barrage of ads produced by big money and super PACs and want more accountability in political media. You would like to see independently-made political ads, PSAs, and works of art alongside these ads. You would like to see videos and images you receive through social media reach a broader audience.</li>
    <li>You visit Social Teeth. You search for specific messages or browse ads that have been posted on the site. If you find a message compelling | persuasive | honest | smart and want to share it with a broader audience, you contribute what you want.</li>
    <li>If the ad reaches its fundraising target, it will stand side-by-side with corporate-funded commercials and misleading political ads. If the ad does not reach its fundraising target, you will not be charged.</li>
    <li>We tell you when and where the message will air.</li>
  </ol>

  <div id="contact">
    <h2>Contact</h2>
    <p>We'd love to hear from you! <a href="mailto:contact@socialteeth.org">Contact us</a> for more information.</p>
    <p>You can also follow our <a href="https://twitter.com/socialteeth">social tweets</a>.</p>
  </div>
</div>
