<% content_for :head do %>
  <%= @pinion.css_url("/css/about.css") %>
<% end %>

<div id="about">
  <div id="letterbox">
    <img src="/images/about_infographic.png" />
  </div>
  <div class="container">
    <h1>We Are Social Teeth</h1>
    <h2>Submit an Ad</h2>
    <ol>
      <li><strong>You</strong> (a non-corporation) have a PSA, political ad, video petition, or work of art that you have circulated on social media. Your work has over 1000 views or likes or tweets and you want to take it further.</li>
      <li>You submit your ad to Social Teeth and tell us <strong>when and where</strong> you want to air your message and <strong>how much money</strong> you need to do so.</li>
      <li><strong>We bring people to your message</strong>. People make small monetary contributions in support of launching your work into the mainstream media. Social Teeth also tries to procure matching-funds sponsorship, NPR-style, for your ad.</li>
      <li>Once you have raised the necessary capital, you <strong>purchase airtime</strong> on your own, or we help you.
    </ol>
    <h2>Support an Ad</h2>
    <ol>
      <li><strong>You</strong> (a non-corporation) are tired of the barrage of ads produced by large corporate interests and want more accountability in political media. You would like to see independently-made political ads, PSAs, and works of art alongside these ads. You would like to see videos and images you receive through social media reach a broader audience.</li>
      <li>You visit Social Teeth. You search for specific messages or browse the media that has been posted on the site. If you find a message <strong>compelling</strong> | <strong>persuasive</strong> | <strong>honest</strong> | <strong>smart</strong> and want to share it with a broader audience, <strong>You contribute what you want</strong>.</li>
      <li>If the ad reaches its fundraising target, it will stand <strong>side-by-side with corporate-funded commercials</strong> and misleading political ads. If the ad does not reach its fundraising target, you will not be charged.</li>
      <li>If you desire, we will follow up with you about when and where the message will air.</li>
    </ol>
  </div>
</div>
