<% content_for :head do %>
  <%= @pinion.css_url("/css/about.css") %>
<% end %>

<div id="about">
  <div id="letterbox">
    <img src="/images/about_infographic_980x300.png" />
  </div>
  <div class="container">
    <h1>About Social Teeth</h1>
    <h2>Submit an Ad</h2>
    <ol>
      <li><strong>You</strong> (a non-corporation) have a PSA, political ad, video petition, or work of art that you have circulated on social media. Your work has over 1000 views, likes or tweets and you want to take it further.</li>
      <li>You submit your ad to Social Teeth and fill out our submitter questionnaire. This will allow you to work with <strong><a href="http://www.aegisglobal.com/">Aegis</a></strong>, a major communications company, to decide where your ad will have the most bite.
      <li><strong>We bring people to your message</strong>. People make small monetary contributions in support of launching your work into the mainstream media.</li>
      <li>Once your ad has reached the fundraising target, <strong>it goes on the air</strong>.</li>
    </ol>
    <h2>Support an Ad</h2>
    <ol>
      <li><strong>You</strong> (a non-corporation) are tired of the barrage of ads produced by large corporate interests and want more accountability in political media. You would like to see independently-made political ads, PSAs, and works of art alongside these ads. You would like to see videos and images you receive through social media reach a broader audience.</li>
      <li>You visit Social Teeth. You search for specific messages or browse the media that has been posted on the site. If you find a message <strong>compelling</strong> | <strong>persuasive</strong> | <strong>honest</strong> | <strong>smart</strong> and want to share it with a broader audience, <strong>you contribute what you want</strong>.</li>
      <li>If the ad reaches its fundraising target, it will stand <strong>side-by-side with corporate-funded commercials</strong> and misleading political ads. If the ad does not reach its fundraising target, you will not be charged.</li>
      <li>We tell you <strong>when and where</strong> the message will air.</li>
    </ol>

    <div id="contact">
      <h1>Contact</h1>
      <p>We'd love to hear from you! Contact <strong>elaine@socialteeth.org</strong> for more information.</p>
    </div>
  </div>
</div>
