<% # Parameters: comments %>

<div class="commentList">
  <% comments.each do |comment| %>
    <%= erb :comment, :locals => { :comment => comment } %>
  <% end %>
</div>

<div class="commentInput">
  <div class="commentHeader">
    <span>Add a comment</span>
  </div>
  <textarea></textarea>
  <div class="commentControls">
    <a class="button">Submit</a>
  </div>
</div>

