<% # Parameters: comment %>

<div class="comment">
  <div class="commentHeader">
    <span class="commentAuthor"><%= comment.user.name %></span>
    <span>commented</span>
    <span class="commentDate">three days ago</span>
  </div>
  <div class="commentBody">
    <p><%= comment.text %></p>
  </div>
</div>
