<div class="commentInput">
  <div class="commentHeader">
    <span>Add a comment</span>
  </div>
  <textarea></textarea>
  <div class="commentControls">
    <a class="button">Submit</a>
  </div>
</div>

