<% content_for :head do %>
  <%= @pinion.css_url("/css/legal.css") %>
<% end %>

<div id="faq">
  <h2>Social Teeth FAQ</h2>
  <h4>What is Social Teeth?</h4>
  <p>Social Teeth is a neutral tool that people can use to launch grassroots media into the mass media. We are a crowdfunding platform and a media agent rolled into one, devoted to serving groups with social and political messages and who don’t otherwise have access to mass media advertising.</p>
  <p>We want to give political underdogs, everyday people, and grassroots organizations access to a political venue that's currently only enjoyed by mainstream parties, billionaires and Super PACs: the mass media. We do it through a Kickstarter-like fundraising process, but with a super important twist—we’ve also partnered with Aegis, an international media company.  Rather than just getting their ads funded and trying to navigate the complex media ecosystem themselves, ad submitters work with Jumptank and Carat (both divisions of Aegis) to come up with a media strategy tailored to their target audience and needs.</p>

  <h4>What is Social Teeth’s mission? </h4>
  <p> We hope to help individuals and small organizations create and choose what media they want the nation to see, by giving them unprecedented access to the money and the marketing tools that larger political entities and wealthier individuals enjoy. </p>
  <p> We are emphatically nonpartisan, and we will not select content based on political preference. We do hope, however, that Social Teeth will encourage ads that disseminate information, harness ethical rhetoric, and reframe abstract, highly polarized political issues as complex human experiences with nuanced solutions.  We also hope that our crowdfunding platform will help aggregate previously disaggregated individuals who have a common interest, but not necessarily a common community.</p>
  <p> In short, we hope to help build intelligent, bottom-up movements with wide reach, and we believe that greater access to mass media is a key part of that vision.</p>

  <h4>Why contribute through Social Teeth and not a cause directly? </h4>
  <p> You know what you are paying for. Contributions given via Social Teeth are not contributions to an organization, but to a specific message.  The only thing that might change is that the ad might take different forms – a 3 minute video ad might get edited down to 1 minute so that we can put it on television, or we might make it into a billboard, etc.  The message itself won’t change. We’ll be sure to let you know, though, before your credit card is charged.</p>

  <h4>Are you a for-profit organization or a non-profit organization? </h4>
  <p>We are a for-profit organization with a social mission. As flexible purpose corporation, our official purpose is to increase access to free speech for all citizens. In addition, being a flexible purpose corporation requires us to promote the positive effects of our activities upon the community society. </p>
  <p>We selected this organizational structure because non-profits (501c3’s) are not allowed to participate in political campaigns, directly or indirectly, and have a limited ability to participate in campaigns about “soft” political issues. </p>

  <h4>Who can submit an ad?</h4>
  <p>Anybody!  We’re nonpartisan.  We do, however, want to have some quality controls in place.  So that means that anyone who submits and ad has to first vet their ad on social media.  In short, your ad must have 1,000 or more likes, shares, or tweets on social media sites like Facebook or Twitter.  This condition may change as we evolve and come to a better understanding of how we can serve ad creators. </p>

  <h4>What’s the process of submitting like?</h4>
  <p>In the coming months, we’ll be introducing an ad creation platform called Social Teeth Labs, which will help anybody who wants to share a message make a good ad.  </p>
  <p>For now, though, submitters who have ads that have demonstrated support through social media simply make an account and upload the ad. Then they’ll work with Aegis determine a funding goal, a media strategy, and a deadline. After a media strategy is set, they raise funds through Social Teeth. If they can fund their message by the deadline, Aegis will purchase the slots, and everyone will cheer. Oh, and hopefully, the ad will build a mass movement and change the world.That too.</p>
  <p>If you don’t already have a message, but are interested in making one, we recommend Turn Here. Turn Here is a network of filmmakers across the country that bid for your work—it is extremely cost-effective, and there are filmmakers in most regions in the U.S.</p>

  <h4>Does Social Teeth help promote the advertisements that appear on the site?</h4>
  <p>We’ll be sure to let people know about ads on the site.  But we also ask that ad creators reach out to their own networks and mobilize them to donate.</p>

  <h4>Who can donate to an ad? </h4>
  <p>Anybody.</p>

  <h4>What’s the process of donating like?  Do I get charged right away? </h4>
  <p>You sign up, and you choose how much you want to donate!  All donations are run through Stripe, a very reliable, secure API company.  It’s the same company that MoMA and Fast Company use, if that gives you an idea.  You will be charged right away, but if the ad does not meet its goal, you will be refunded the money, minus the 2.9% + 30¢ cut that Stripe takes from every transaction. Thus, if you donate $15, you would get $14.26 back. </p>
  <p>Social Teeth is still in its infancy and very much an experiment, and we chose Stripe as our payment solution for its high security standards and its technical elegance. After a trial period, if we find that Social Teeth is successful and fills a need in the community, we will deploy a solution in which contributors are not charged until the fundraising goal is met.</p>
  <p>After you donate, you will receive updates from ad creators. This means you will get a notification when the ad reaches full funding, whenever the ad airs, and statistics about how many people the ad has reached. You may opt out of these updates.</p>

  <h4>How much of my donation goes to the ad?  How much goes to Social Teeth?</h4>
  <p>90% of your donation goes directly to purchasing the media. 5% goes to Aegis, our partner, and the last 5% is split between supporting Social Teeth’s operating costs and the credit card fees.</p>

  <h4>Is there a maximum contribution limit?  How do you keep ‘big-money’ from advertising through SocialTeeth and thus co-opting its mission?</h4>
  <p>At this point, there is no maximum contribution limit. We don’t envision that Super PACs will be interested in using our platform; they have their own well-lubricated connections already. If it becomes a problem, we will figure out the right filters and balances, with feedback from you.</p>

  <h4>Social Teeth will never rival the buying-power of Super PACs.</h4>
  <p>That is probably true. But citizen-created, citizen-funded media can rival the credibility of Super PACs.  We think that gets us pretty far.</p>
</div>

