<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
<% end %>

<div id="featurePreview">
</div>

<div id="banner">
  <span>Put your money where your mouth is.</span>
</div>

<div id="categories">
  <div class="category">
    <div class="container">
      <h2>Featured Ads</h2>
      <% featured_ads.each do |ad| %>
        <div class="smallAd">
          <div class="thumbnail">
            <img src="/uploads/ad/<%= ad.id %>/thumbnail_200_cropped.png" />
          </div>
          <div class="thermometer">
            <div class="thermometerProgress"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
