<%= @pinion.css_url("/assets/css/index.css") %>

<div id="featurePreview">
  <img class="feature" src="/images/posters/rosie.jpg" />
  <img class="feature" src="/images/posters/war_bonds.jpg" />
  <img class="feature" src="/images/posters/appliances.jpg" />
  <img class="feature" src="/images/posters/kennedy.jpg" />
</div>

<div id="banner">
  <span>Put your money where your mouth is.</span>
</div>

<div id="categories">
  <div class="category">
    <div class="container">
      <h2>Featured Campaigns</h2>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="category">
    <div class="container">
      <h2>Popular</h2>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
      <div class="smallAd">
        <div class="thumbnail"></div>
        <div class="thermometer">
          <div class="thermometerProgress"></div>
        </div>
      </div>
    </div>
  </div>
</div>
