<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="siteIntro">
    <div class="container">
      <h3>Worried about billionaires and super PACs dominating the airwaves?</h3>
      <h3>Social Teeth is your chance to bite back.</h3>
      <p>What you'll see here are political ads and PSAs created by everyday people and organizations. After August 1st, you'll be able to contribute towards the distribution of campaigns you love. When an ad is funded, Social Teeth helps get it on mass media channels like television, websites, buses, billboards, and more.</p>
      <p>We're having a contest to find our first round of ads. Submit yours.</p>
      <a class="button" href="/submit">Launch Your Message</a>
    </div>
  </div>
  <div id="contestPoster">
    <a href="/submit"></a>
  </div>
</div>
