<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="siteIntro">
    <div class="container">
      <h3>Worried about billionaires and super PACs dominating the airwaves?</h3>
      <h3>Social Teeth is your chance to bite back.</h3>
      <table>
        <tr>
          <td>Social Teeth launches August 1st. Right now, we are looking for our first five ads. If you have an ad, submit it to our launch contest! After August 1st, you will be able to contribute to the ads you love.</td>
          <td>Interested in making an ad, but not sure where to start? Social Teeth can connect you with professionals in the business of creating effective video messages.</td>
        </tr>
        <tr>
          <td><a class="button" href="/submit">Launch Your Message</a></td>
          <td><a class="button" href="/labs/resources">Create an Ad</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="contestPoster">
    <a href="/submit"></a>
  </div>
</div>
