<%= @pinion.css_url("/assets/css/index.css") %>

<div id="featurePreview">
  <img class="feature" src="/images/posters/rosie.jpg" />
  <img class="feature" src="/images/posters/war_bonds.jpg" />
  <img class="feature" src="/images/posters/appliances.jpg" />
  <img class="feature" src="/images/posters/kennedy.jpg" />
</div>

<div id="banner">
  <span>Put your money where your mouth is.</span>
</div>
