<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="letterbox" class="faces">
    <div id="siteSummary">
      <h3>Worried about billionaires and super PACs dominating the airwaves?<br/>Social Teeth is your chance to bite back.</h3>
      <p>What you'll see here are political ads and PSAs created by everyday people and organizations.  After August 1st, you'll be able to contribute towards the distribution of campaigns you love.  When an ad is funded, Social Teeth helps get it on mass media channels like television, websites, buses, billboards, and more.</p>
      <p>We're having a contest to find our first round of ads. Submit yours.
    </div>
  </div>

  <div id="banner">
    <span>Launch Your Message into the Mass Media</span>
  </div>

  <div class="container">
    <div id="contestAnnouncement">
      <img src="/images/contest_description.png" />
      <a class="button" href="/submit">Launch Your Ad</a>
    </div>
  </div>
</div>
