<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
  <%= @pinion.css_url("/assets/css/forms.css") %>
<% end %>

<div id="home">
  <div id="letterbox" class="faces">
    <div id="siteSummary">
      <h3>Worried about billionaires and super PACs dominating the airwaves?<br/>Social Teeth is your chance to bite back.</h3>
      <p>What you'll see here are political ads and PSAs created by everyday people and organizations.  After August 1st, you'll be able to contribute towards the distribution of campaigns you love.  When an ad is funded, Social Teeth helps get it on mass media channels like television, websites, buses, billboards, and more.</p>
      <p>We're having a contest to find our first round of ads. Submit yours.
    </div>
  </div>

  <div id="banner">
    <span>Launch Your Message into the Mass Media</span>
  </div>

  <div class="container">
    <div id="contestAnnouncement">
      <p>We want 5 broadcast-quality political messages and PSAs</p>
      <p>that <em>refresh</em> and <em>reframe</em> <strong>the issues</strong></p>
      <p><div class="block first"></div>that <em>unite us</em> around</p>
      <p>or that <em>set the agenda</em> for</p>
      <p>The deadline to submit your ad is <em>July 29</em>.</p>
      <p>When <em>Social Teeth launches</em> on AUGUST 1</p>
      <p>you'll have <em>24 hours</em> to <em>vote</em> for the ads you love.</p>
      <p>THE WINNERS WILL BE FEATURED ON OUR SITE</p>
      <p>and might see their messages <em>on television</em>.</p>
      <a class="button" href="/submit">Launch Your Ad</a>
    </div>
  </div>
</div>
