<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/index.css") %>
<% end %>

<div id="home">
  <div id="letterbox" class="faces">
    <div id="siteSummary">
      <h2>Want to change the political advertising landscape?</h2>
      <p>What you see on Social Teeth are political messages created by everyday people and grassroots organizations. You can contribute small amounts to get these specific messages on the air.</p>
    </div>
  </div>

  <div id="banner">
    <span>Launch Your Message into the Mass Media</span>
  </div>

  <div class="container">
    <div id="contestAnnouncement">
      <p>We want 5 broadcast-quality political messages and PSAs</p>
      <p>that <em>refresh</em> and <em>reframe</em> <strong>the issues</strong></p>
      <p><div class="block first"></div>that <em>unite us</em> around</p>
      <p>or that <em>set the agenda</em> for</p>
      <p>The deadline to submit your ad is <em>July 29</em>.</p>
      <p>When <em>Social Teeth launches</em> on AUGUST 1</p>
      <p>you'll have <em>24 hours</em> to <em>vote</em> for the ads you love.</p>
      <p>THE WINNERS WILL BE FEATURED ON OUR SITE</p>
      <p>and might see their messages <em>on television</em>.</p>
    </div>
  </div>
</div>
