<% content_for :head do %>
  <%= @pinion.css_url("/css/press.css") %>
<% end %>

<div class="pressRelease">
  <div class="container">
    <h2>Social Teeth Gives Everyday People The Tools To Launch Truly Mass Media Campaigns</h2>
    <p class="date">August 14, 2012</p>
    <p>Voting begins today at Social Teeth. Today, visitors to the site will see political and social messages created by individuals and nonprofits. Visitors vote for the messages that they care most about, and when voting ends on Tuesday evening, there will be five winners.</p>
    <p>These five winners will be Social Teeth’s first ads when it launches this Wednesday, August 15th. Social Teeth is a platform for crowdfunding and planning mass media campaigns for grassroots voices, and political outsiders. Think of it like a Kickstarter for political and social messaging, but also a media agent that only serves insurgent voices.  Social Teeth is emphatically nonpartisan.</p>
    <p>Social Teeth has partnered with Aegis Media, the #1 Ranked Media Network by RECMA Media Agencies Benchmark, to provide professional media planning and purchasing services to Social Teeth users. The five winners will work with Aegis on media strategy and crowdfund their media campaigns on socialteeth.org. They will be part of a political experiment that, if successful, will give grassroots voices unprecedented access to mass media channels, and unheard-of clout in the national conversation.</p>
    <p>Once the winning ads have been announced and their media strategies have been set, the experiment will be up and running. Anyone who visits the site will be able to make a contribution to the ad they care about, and if the ad makes its funding goal by the deadline, it will launch onto the mass media.</p>
    <p>Since many of the issues that these ads target are under-discussed in the current, personality-focused election, these ads could have the power to alter what the candidates focus on.</p>
    <p>Even if its ads don’t definitely alter the course of events, founder Elaine Chang still thinks Social Teeth provides an incredible service to American politics. Social Teeth, she says, is not intended literally to match the financial firepower of the big money currently dominating American politics, nor to necessarily influence the outcome of specific election races, whether at the national, state or local level.</p>
    <p>Rather, she hopes it will provide ordinary Americans with a sense of participation in democracy, and the very real payoff of seeing their voices or messages reach a mass audience. This is something that social media has begun to do, but it does have its limitations. “Social media,” Elaine says, “is great for organizing people that already share opinions. But when we overlay Social Teeth onto social media, we have a chance for people to overcome the limitations of community and confirmation bias, and allow people to access audiences that they have never accessed before.”</p>
    <p>Elaine also hopes that we could begin to see different kinds of political ads on television. Instead of just the usual negative, point-scoring, partisan ads that over-simplify issues and disparage other candidates, Social Teeth can help launch ads that clarify and explain misunderstood or under-represented issues. It can put issues on the agenda that are important to citizens, but which are excluded from mainstream election advertising and media coverage. It can also help unite previously disparate individuals around common causes of concern. Examples of issues that can be raised through Social Teeth are:</p>
    <ul>
      <li>An honest account of the difficult fiscal choices facing whichever candidate wins November’s general election;</li>
      <li>Parenting issues separated from either partisan agenda;</li>
      <li>The issues affecting the everyday lives of young people - expressed from the perspective of young people rather than being shoehorned into a party ideology.</li>
    </ul>
    <p>Social Teeth is advised by Steve Hilton, Senior Advisor to British Prime Minister David Cameron and currently on sabbatical at Stanford.</p>
    <p>After the first round of ads goes through, potential submitters will vet their ads on social media. In order to upload to the site, ads will have to have at least 1,000 likes on Facebook; Tweets, or notes on Tumblr.</p>
  </div>
</div>
