<% content_for :head do %>
  <%= @pinion.css_url("/css/press.css") %>
<% end %>

<div class="pressRelease">
  <div class="container">
    <h2>Social Teeth Launch Contest</h2>
    <h3>Timing</h3>
    <p>The contest runs for 24 hours, during the entire day/night of Tuesday, August 14th. It opens at 12:01am PST and closes at midnight.</p>
    <h3>Casting your Votes</h3>
    <p>Each person gets 100 votes to allocate across one or more ads. You get 24 hours to cast your votes!</p>
    <p>Before you can vote, you must sign up. The only thing required to do so is an email address and a password.  We won’t spam you; this is just how we make sure that each person only gets 100 votes.</p>
    <p>To vote for an ad, click on it, and enter the number of votes you want to cast for that ad. Once you cast those votes, you can’t get them back, so please be sure of your choice before you submit your votes. Please also note that some of the ads will be edited down to about a minute for length.</p>
    <h3>The Winners</h3>
    <p>There will be five winners. These ads will be the first ones to plan and crowd-fund ad campaigns on Social Teeth’s platform. We are narrowing the pool down to five winners because we want these advertising campaigns to be BIG, at a scale unprecedented in grassroots media.</p>
    <p>They will be published on our site on August 15th and begin fundraising for an advertising campaign immediately. They will work with <a href="http://www.aemedia.com/" target="_blank">Aegis</a> this week to set fundraising goals and a media plan, which will be published on the site as soon as they are ready.</p>
    <h3>Another note</h3>
    <p>We guarantee that the five ads that win the contest will be featured on the site, but in addition:</p>
    <ul>
      <li>Some ads may automatically appear to qualify for publishing at launch regardless of the contest, because they have already met the social media criteria (i.e. 1000 tweets or likes).</li>
      <li>Social Teeth might also increase the number of winners or select one staff pick in order to maintain a diverse pool of ads. Social Teeth will not ordinarily make any decisions about content, but we see our launch as a way to show varied demographics how a platform like this can work for them.</li>
    </ul>
  </div>
</div>
