<% content_for :head do %>
  <%= @pinion.css_url("/css/press.css") %>
<% end %>

<div class="pressRelease">
  <div class="container">
    <p class="date">August 14, 2012</p>
    <p>FOR IMMEDIATE RELEASE
    <h2>VOTE TODAY ON SOCIAL TEETH TO LAUNCH GRASSROOTS MEDIA INTO THE MAINSTREAM</h2>
    <p>Social Teeth, a website giving everyday people the tools to create mass media campaigns, launches today with a contest. What visitors see on Social Teeth are messages created by political underdogs, everyday people, and grassroots organizations. Voting will determine which 5 campaigns will be first up for crowd-funded access to the national airwaves.</p>
    <p>Social Teeth’s partner, top-ranked Aegis Media, will provide professional media planning and purchasing services to Social Teeth campaigners. They will then be part of a political experiment that will give grassroots voices unprecedented access to mass media channels, and unheard-of clout in the national conversation.</p>
    <p>Anyone who visits the site will be able to make a contribution to the ad they care about, and if the ad makes its funding goal by the deadline, Aegis will buy onto the mass media.</p>
    <p>“We might not literally match the financial firepower of Super-PACs or coorporate lobbyists,” founder Elaine Chang believes, “but even running one national TV campaign gives citizens the very real payoff of getting their voices heard. And more citizen voices will lead to more relevant conversations.” Since many of the issues that Social Teeth ads target are under-discussed in the current, personality-focused election, these ads could have the power to alter what candidates focus on.</p>
    <p>Social Teeth gives a bigger bite to already trending social media. In order to upload an advertisement to the site, ads will have to have at least 1,000 likes on Facebook; Tweets, or notes on Tumblr. Then, Aegis Media and a kickstarter-esque donation system gives the message the final boost it needs to make it onto the national scene, whether on TV, radio, or in print.</p>
    <p>Elaine also hopes that we could begin to see different kinds of political ads on television.  Instead of negative, point-scoring, partisan ads that over-simplify issues and disparage other candidates, Social Teeth can help launch ads that clarify and explain misunderstood or under-represented issues.  It can put issues on the agenda that are important to citizens, but which are excluded from mainstream election advertising and media coverage.  It can also help unite previously disparate individuals around common causes of concern.  Examples of issues that can be raised through Social Teeth are:</p>
    <ul>
      <li>An honest account of the difficult fiscal choices facing whichever candidate wins November’s general election;</li>
      <li>Parenting issues separated from either partisan agenda;</li>
      <li>The issues affecting the everyday lives of young people - expressed from the perspective of young people rather than being shoehorned into a party ideology.</li>
    </ul>
    <p>Social Teeth, developed by a team of Stanford Alumni, is advised by Steve Hilton, Senior Advisor to British Prime Minister David Cameron who is currently on sabbatical at Stanford. The website is emphatically nonpartisan.</p>
    <p>##</p>
    <p>For inquiries, contact: elaine@socialteeth.org</p>
  </div>
</div>
