<% content_for :head do %>
  <%= @pinion.css_url("/css/press.css") %>
<% end %>

<div class="pressRelease">
  <div class="container">
    <h2>Social Teeth Launch Contest</h2>
    <h3>Timing</h3>
    <p>The contest runs for 24 hours, during the entire day/night of Tuesday, August 14th. It opens at 12:01am PST and closes at midnight.</p>
    <h3>Casting your Votes</h3>
    <p>Each person gets 100 votes to allocate across one or more ads. You get 24 hours to cast your votes!</p>
    <p>Before you can vote, you must sign up. The only thing required to do so is an email address and a password.  We won’t spam you; this is just how we make sure that each person only gets 100 votes.</p>
    <p>To vote for an ad, click on it, and enter the number of votes you want to cast for that ad. Once you cast those votes, you can’t get them back, so please be sure of your choice before you submit your votes. Please also note that some of the ads will be edited down to about a minute for length.</p>
  </div>
</div>
