<!DOCTYPE html>
<html>
  <head>
    <title>SocialTeeth</title>
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.js_url("/js/lib/jquery-1.7.2.min.js") %>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <a id="logo" href="/">SocialTeeth</a>
        <nav>
          <ul>
            <li><a href="#">Browse Ads</a></li>
            <li><a href="#">Submit Ad</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <div id="signin">
          <% if current_user %>
            <a href="#"><%= current_user.name %></a> |
            <a href="/signout">Sign Out</a>
          <% else %>
            <a href="/signup">Sign Up</a> |
            <a href="/signin">Sign In</a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>

