<% content_for :head do %>
  <%= @pinion.css_url("/css/placeholder.css") %>
<% end %>

<div id="placeholder">
  <div class="container">
    <h2>Social Teeth will be launching soon.</h2>
    <p>For more information, contact Elaine at elaine@socialteeth.org</p>
    <div id="howitworks">
      <img src="/images/howitworks.png" />
    </div>
  </div>
</div>
