<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/press.css") %>
<% end %>

<div id="press">
  <h2>Social Teeth in the News</h2>
  <div class="newsItem">
    <h4>Launch Contest Press Release</h4>
    <p>Social Teeth is holding a launch contest on the eve of our launch. View our press release <a href="/press/launch-contest-press-release">here</a>.
  </div>
  <div class="newsItem">
    <h4><a href="http://www.aspenideas.org/session/designs-future-kids-and-robots-superior-medical-devices-politics-everyman#bc-9170=1713193193001">Aspen Ideas Festival</a></h4>
    <p>Stanford’s acclaimed d.school inspired 50 teams of graduate students to pitch projects at Aspen Ideas Festival.</p>
    <p>Social Teeth was one of the winners.</p>
    <p><a href="http://www.aspenideas.org/session/designs-future-kids-and-robots-superior-medical-devices-politics-everyman#bc-9170=1713193193001">Watch our presentation</a>.</p>
  </div>
  <div class="newsItem">
    <h4><a href="http://www.forbes.com/sites/natalierobehmed/2012/07/06/a-startup-takes-on-the-super-pacs">Forbes</a></h4>
    <blockquote>A new website called Social Teeth aims to combat super PACs by creating a Kickstarter for political ads. Users upload independently-produced campaigns that have already shown popularity – or “social teeth” – on networks like Facebook and Twitter. Others can then securely donate money to adverts via PayPal. If the ad reaches its funding goal, Social Teeth buys it airtime.</blockquote>
  <p><a href="http://www.forbes.com/sites/natalierobehmed/2012/07/06/a-startup-takes-on-the-super-pacs">Read more</a>.</p>
  </div>
  <div class="newsItem">
    <h4><a href="http://www.guardian.co.uk/world/2012/jun/29/social-teeth-super-pac-crowdfunding">The Guardian</a></h4>
    <blockquote>Americans dismayed by the influence that a handful of billionaires are having on the 2012 presidential election cycle through Super Pacs are to be given a channel through which they can bite back – a crowdfunded website that will support alternative political advertising."</blockquote>
  <p><a href="http://www.guardian.co.uk/world/2012/jun/29/social-teeth-super-pac-crowdfunding">Read more</a>.</p>
  </div>
  <div class="newsItem">
    <h4><a href="http://www.wired.co.uk/news/archive/2012-07/05/social-teeth">Wired</a></h4>
    <blockquote>The hope is that people will be attracted by the idea of seeing what their peers have to say. Therefore, even if a campaign does not source enough cash to get a primetime slot, people will be tuning in to wait for it anyway. It's a draw that the deluge of sponsored glossy ads can never offer. Connecting people in this way to the political process will, Elaine hopes, hand them back some sense that the democratic system in which they live is a functioning, tangible entity.</blockquote>
  <p><a href="http://www.wired.co.uk/news/archive/2012-07/05/social-teeth">Read more</a>.</p>
  </div>
</div>
