<% content_for :head do %>
  <%= @pinion.css_url("/assets/css/submit.css") %>
<% end %>

<div class="container">
  <div id="submitComplete">
    <h2>Ad Submitted</h2>
    <p>Thank you for submitting to the Social Teeth Launch Contest!</p>
    <p>We'll be posting your ad along with the other submissions shortly.</p>
    <p>When we do, we'll be sure to let you know.</p>
    <a class="button" href="/">Finish</a>
  </div>
</div>

