<% content_for :head do %>
  <%= @pinion.css_url("/css/forms.css") %>
  <%= @pinion.css_url("/css/submit.css") %>
  <%= @pinion.js_url("/js/form_hints.js") %>
<% end %>

<div class="container">
  <div id="submitAd">
    <form class="standard hints" action="/submit" method="post" enctype="multipart/form-data">
      <div class="flashErrors">
        <% if flash[:errors] && flash[:errors].is_a?(Array) %>
          <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="formField">
        <input type="text" name="title" placeholder="Title" />
      </div>
      <div class="formField">
        <textarea name="description" placeholder="Description"></textarea>
      </div>
      <div class="formField">
        <input type="text" name="url" placeholder="YouTube or Vimeo URL" />
      </div>
      <div class="formField">
        <button>Submit Ad</button>
      </div>
    </form>
  </div>
</div>
