<% content_for :head do %>
  <%= @pinion.css_url("/css/forms.css") %>
  <%= @pinion.css_url("/css/submit.css") %>
<% end %>

<div class="container">
  <div id="submitAd">
    <form class="standard hints" action="/submit" method="post" enctype="multipart/form-data">
      <div class="flashErrors">
        <% if flash[:errors] && flash[:errors].is_a?(Array) %>
          <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="formField">
        <label for="title">Title</label>
        <input type="text" name="title" />
      </div>
      <div class="formField">
        <label for="description">Description</label>
        <textarea name="description"></textarea>
      </div>
      <div class="formField">
        <label for="goal">Goal</label>
        <input type="text" name="goal" />
      </div>
      <div class="formField">
        <label for="ad_type">Type</label>
        <% # TODO: Consider using Chosen for select boxes (http://harvesthq.github.com/chosen) %>
        <select name="ad_type">
          <option value="video">Video</option>
          <option value="audio">Audio</option>
          <option value="image">Image</option>
        </select>
      </div>
      <div class="formField">
        <label for="url">YouTube or Vimeo URL</label>
        <input type="text" name="url" />
      </div>
      <div class="formField">
        <% # TODO: Default to video thumbnail if no thumbnail image specified %>
        <label for="thumbnail">Thumbnail Image</label>
        <input type="file" name="thumbnail" />
      </div>
      <div class="formField">
        <button>Submit Ad</button>
      </div>
    </form>
  </div>
</div>
