#authentication {
  margin-top: 50px;
  display: table;
  table-layout: fixed;

  .authenticationForm {
    vertical-align: bottom;
    display: table-cell;
    margin-top: 110px;

    h3 {
      margin: 0px;
      text-align: center;
    }

    form.standard {
      width: 350px;
    }
  }

  #forgotPassword {
    display:none;
    margin-top: 10px;
  }
}
