@import "css/mixins";

$commentWidth: 800px;

.comment, .commentInput {
  border: 1px solid $lightGray, 30%;
  @include box-shadow(0px 0px 10px #555);
  margin: 10px;
  width: $commentWidth;

  .commentHeader {
    span { font-weight: bold; }
    padding: 5px;
    @include linear-gradient(#EEE, #CCC);
  }
}

.comment {
  .commentHeader {
    span { font-weight: normal; }
    span.commentAuthor { font-weight: bold; }
  }

  .commentBody {
    padding: 5px;
    font-size: 1.1em;
    background: #FFF;
  }
}

.commentInput {
  textarea {
    width: $commentWidth - 10;
    height: 100px;
    display: block;
    padding: 5px;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.1em;
  }

  .commentControls {
    padding: 5px;
    text-align: right;
    background-color: #EEE;
    border-top: 1px solid $lightGray;

    a.button {
      display: inline-block;
      width: inherit;
      margin: inherit;
      font-size: 1.1em;
      padding: 10px 20px;
    }
  }
}
