@import "css/mixins";

* {
  margin: 0px;
  padding: 0px;
}

html, body { height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $darkGray;
  background: #FEFFFE;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.8em; }
h1, h2, h3, h4, h5, h6 { margin: 20px 0px; }

p { line-height: 1.4em; }

a {
  text-decoration: none;
  color: #010101;
  cursor: pointer;

  &:hover { color: $highlight; }

  h1 { color: #333333; &:hover { color: $highlight; } }
  h2 { color: #333333; &:hover { color: $highlight; } }
  h3 { color: #333333; &:hover { color: $highlight; } }
  h4 { color: #333333; &:hover { color: $highlight; } }
  h5 { color: #333333; &:hover { color: $highlight; } }
  h6 { color: #333333; &:hover { color: $highlight; } }

  img { border: none; }

  &.button {
    @include black-button;
  }
}

.container {
  width: $pageWidth;
  margin: auto;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.aside { color: $lightText; }

$headerHeight: 40px;

#header {
  height: $headerHeight;
  padding: 0px 30px;
  max-width: $pageWidth + 370px;

  #signin {
    $paddingTop: $headerHeight / 2 - 13;
    float: right;
    height: $headerHeight - $paddingTop;
    padding-top: $paddingTop;

    a, span {
      padding: 0px 3px;
      font-size: 0.9em;
    }
  }
}

$sidebarWidth: 300px;

#sidebar {
  width: $sidebarWidth;
  padding: 0px $headerHeight;
  position: fixed;

  .logo {
    display: block;
    width: $sidebarWidth;
    height: 40px;
    background: url(/images/logos/long240x40.png) no-repeat;
    text-indent: -9999px;
  }

  .nav {
    font-weight: 300;

    li { list-style: none; }
    @include light-font;
    margin-top: 30px;
    li { padding: 2px; }

    & > ul {
      font-size: 1.8em;

      ul {
        font-size: 0.7em;
        margin-left: 20px;
      }

      a {
        display: block;
        color: #333333;
        &:hover { color: $highlight; }
      }
    }
  }
}

#content {
  margin-left: $sidebarWidth + 2 * $headerHeight;
  padding-bottom: 100px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  position: absolute;
  height: 20px;
  width: 100%;
  @include linear-gradient(#777777, #333333);
  bottom: 0px;
  border-top: 1px solid #555;
  text-align: center;
  padding: 20px 0px;
  color: #FEFFFE;
  font-size: 0.9em;
  font-weight: 300;

  .copyright {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    display: inline-block;
    color: #FEFFFE;

    &:hover {
      color: lighten($highlight, 10%);
    }

    &.twitter {
      position: absolute;
      top: 5px;
      margin-right: 20px;
      width: 80px;
      height: 45px;
      float: right;
      cursor: pointer;
      background: url(/images/twitter_bird_white.png) 30px 0px no-repeat;

      &:hover { background: url(/images/twitter_bird_gray.png) 30px 0px no-repeat; }
    }
  }
}

blockquote {
  border-left: 5px solid $lightGray;
  margin: 10px 0px;;
  padding: 10px;
  font-style: italic;
  background-color: #FFFFFF;
}
