@import "css/mixins";

#contribute {
  form.standard {
    margin: auto;

    .formField {
      span {
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .dollarAmount {
      display: inline-block;
      width: auto;
    }

    .centAmount {
      display: inline-block;
      width: auto;
    }

    .cardNumber {
      display: inline-block;
      width: 70%;
    }

    .cardCvc {
      display: inline-block;
      width: 20%;
    }

    .cardExpiryMonth {
      display: inline-block;
      width: auto;
    }

    .cardExpiryYear {
      display: inline-block;
      width: auto;
    }

    .paymentErrors {
      margin: 10px 0px;
      padding: 3px 0px;
      color: $highlight;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#contributeSuccess {
  text-align: center;
  font-size: 1.2em;
  h2 { margin: 20px; }
  p { margin: 20px; }
}
