@import "css/mixins";

#contribute {
  display: inline-block;
  margin-top: 100px;
  margin-left: 10px;
  border-width:2px;
  border-style:solid;
  border-color:$lightGray;
  padding:0px;
  background-color:$lightestGray;
  width:550px;
 
  
  form.standard {
    width: 450px;
    margin: 10px;
      


    h3 {
      margin: 0px;
      text-align: left;
            
    }

    table {

      &#paymentInfo {
        margin-top: 10px;
          
      }

      .field {
        width: 60%;
        span { font-size: 1.2em; }
      }

      .hint {
        color: $darkGray;
      }

      p {
        margin: 10px 0px;
        font-size: 0.8em;
      }

      #amountOptions {
        input[type=text] {
          display: inline-block;
          width: 100%;
          margin-left: 0px;
        }

        label {
          display: inline-block;
          margin: 5px;
          cursor: pointer;
        }
      }
    }

    .cardNumber {
      width: 100%;
    }

    .cardCvc {
      width: 20%;
    }

    .cardExpiryMonth {
      display: inline-block;
      width: 18%;
    }

    .cardExpiryYear {
      display: inline-block;
      width: 25%;
    }

    .paymentErrors {
      margin: 10px 0px;
      padding: 3px 0px;
      color: $highlight;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#contributeSuccess {
  margin: 40px auto;
  padding: 40px;

  p { margin: 20px 0px; }

  .socialSharing {
    margin: 20px 0px;
  }
}

#contributeConfirm {
  margin: 40px auto;
  padding: 40px;

  table {
    text-align: left;
    border-collapse: collapse;

    td {
      border: 1px solid $lightGray;
      background-color: #FFFFFF;
      padding: 10px;

      &:nth-of-type(1) {
        text-align: right;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        min-width: 250px;
      }

      &.highlight {
        color: $highlight;
        font-weight: bold;
      }
    }
  }

  #ruleList {
    color: $lightText;
    li {
      padding: 5px 0px;
      margin-left: 40px;
    }
    p { margin: 20px 0px; }
  }

  form.standard {
    width: 800px;
    .formField {
      margin-top: 20px;
      a {
        margin-right: 20px;
      }

      input[type=submit] {
        width: auto;
        padding: 15px;
      }
    }
  }
  
}

#contributeAdInfo{
  background-color: $lightestGray;
  border-width: 2px;
  border-style: solid;
  border-color: $lightGray;
  padding: 10px;
  padding-left: 15px;
  min-height:180px;
  
  li{
    margin-left: 40px;
  }
}

#contributeThumbnail{
  width: 140px;
  height: 140px;
  float: right;
  margin: 5px;
  border-style: solid; border-color:black; border-width:2px;
}

#creditPics{
  background-color: $lightestGray;
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: $lightGray;
  padding: 10px;
  padding-left: 15px;
}

#creditCardBacks{
  width: 150px;
  height: 50px;
  float: right;
}

#creditCardFronts{
  width: 338px;
  height: 53px;
  float: right;
}

#imageCaption{
  width: 80px;
  border: 0px;
  align: right;
  cellpadding: 5px;
  cellspacing: 5px;
}

#moreInfo{
  vertical-align: top;
  display: inline-block;
  width: 350px;
  margin-top: 100px;
  margin-left: 100px;
}


#contributeWrapper{
  min-width: 1020px;
}

#americanExpressSpace{
  padding-top: 15px;

}

