@import "css/mixins";

#contribute {
  form.standard {
    margin: auto;

    table {
      .field {
        width: 60%;
        span { font-size: 1.2em; }
      }

      .hint {
        color: $lightText;
      }
    }

    .cardCvc {
      width: 20%;
    }

    .cardExpiryMonth {
      display: inline-block;
      width: 10%;
    }

    .cardExpiryYear {
      display: inline-block;
      width: 20%;
    }

    .paymentErrors {
      margin: 10px 0px;
      padding: 3px 0px;
      color: $highlight;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#contributeSuccess {
  text-align: center;
  font-size: 1.2em;
  h2 { margin: 20px; }
  p { margin: 20px; }
  background-color: #EEEEEE;
}

#contributeConfirm {
  text-align: center;

  h2 {
    text-align: center;
    margin: 20px;
  }

  table {
    margin: auto;
    text-align: left;
    font-size: 1.4em;
    border-collapse: collapse;
    td {
      border: 1px solid $lightGray;
      background-color: #FFFFFF;
      padding: 10px;

      &:nth-of-type(1) {
        text-align: right;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        min-width: 250px;
      }
    }
  }

  form.standard {
     margin: auto;

    .formField {
      margin-top: 20px;
      a {
        margin-right: 20px;
      }

      input[type=submit] {
        width: auto;
        padding: 15px;
      }
    }
  }
}
