@import "css/mixins";

#details {
  display: table;
  padding-top: 100px;

  #detailsLeft {
    display: table-cell;
    padding-left: 20px;
    #mainDetails {

      #detailsText {
        width: 480px;

        p, ol, ul { margin-bottom: 20px; }

        li {
          margin-left: 40px;
          padding: 5px 0px;
        }

        #submitterDetails {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid $lightGray;
        }
      }
    }
  }

  #detailsGutter {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 0px;

    #signInButton {
      margin: 20px 0px;
    }

    p { font-size: 0.9em; }

    .summary {
      line-height: 1.0em;

      .goalProgress {
        .progress {
          font-weight: bold;
          display: block;
          color: $highlight;
          font-size: 2.5em;
          padding-top: 20px;
          line-height: 1.0em;

        }

        .of {
          display: inline-block;
          font-size: 1.2em;
        }

        .goal {
          display: inline-block;
          font-size: 2.0em;
          padding: 0px 5px;
          margin-bottom: 10px;
        }
      }

      .disclaimer {
        margin-bottom: 20px;
      }

      #payButton {
        display: block;
        margin: 20px auto;
        font-weight: bold;
        background: $highlight;
        border: 1px solid darken($highlight, 20%);
      }

      .socialSharing {
        margin: 20px 0px;

        table {
          table-layout: fixed;
          border-collapse: collapse;
          width: 100%;

          td:nth-of-type(1) {
            text-align: right;
          }
        }
      }
    }
  }
}

#counter {
  margin-top: 40px;
  border-collapse: collapse;
  @include linear-gradient(#CDCDCD 0%, #FFFFFF 20%,#FFFFFF 80%, #CDCDCD 100%);

  #counter_row {
    padding-top: 0px;
    font-weight: bold;
    display: block;
    color: $highlight;
    font-size: 2.5em;
    line-height: 1.0em;
  }

  #counter_cell {
    padding: 4px;
    border: 2px solid $lightGray;
  }
}
