@import "css/mixins";

#details {
  #letterbox {
    .videoEmbed { width: 640px; }
    height: 400px;
  }

  #mainDetails {
    display: table;
    margin: 50px auto;
    width: 800px;

    #detailsText {
      display: table-cell;
      width: 550px;
      padding-right: 80px;
      h1 { margin-bottom: 30px; }
      background: #EEE;
      font-size: 1.1em;

      #submitterDetails {
        h3 {
          margin-top: 40px;
          margin-bottom: 10px;
          color: #999;
        }

        p { margin: 5px 0px; }
      }
    }

    #detailsGutter {
      display: table-cell;
      background-color: #CCC;
      @include box-shadow(0px 0px 5px 5px #BBB);
      height: 500px;
      padding: 20px;
      width: 33%;

      #signInButton {
        margin: 20px 0px;
      }

      .summary {
        font-weight: bold;
        line-height: 1.0em;

        a { font-weight: normal; }

        .goalProgress {

          .progress {
            display: block;
            color: $highlight;
            font-size: 2.5em;
            padding-top: 20px;
            line-height: 1.0em;
          }

          .of {
            display: inline-block;
            font-size: 1.4em;
          }

          .goal {
            display: inline-block;
            font-size: 2.0em;
            padding: 0px 5px;
            margin-bottom: 10px;
          }
        }

        #payButton {
          display: block;
          margin: 20px auto;
        }

        .socialSharing {
          margin: 20px 0px;

          table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;

            td:nth-of-type(1) {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
