@import "css/mixins";

#flowChartTitleDiv {
  position: absolute;
  margin-left: 140px;
  margin-top: -45px;
  text-align: center;
  width: 400px;
  font-size: 1.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#fullFlow {
  margin-top: 60px;
  width: 800px;
  height: 200px;
}

#videoHeading {
  width: 100%;
  height: 20px;
  padding: 5px;
  font-weight: bold;
  text-align: right;
  a { color: $lightText; }
  &:hover a { color: $highlight; }
  cursor: pointer;
}

.Tiers {
  position: absolute;
  display: none;
}

.Tier1 {
  position: absolute;
}

.subFlowChart {
  position: absolute;
  width: 800px;
  height: 600px;
  margin-left: -70px;
  clip: rect(0px, 800px, 200px, 0px);
}

.subFlowChartFork {
  position: absolute;
  width: 800px;
  height: 600px;
  margin-left: -70px;
  cursor: pointer;
}

.subFlowChartEnd {
  position: absolute;
  width: 800px;
  height: 600px;
  margin-left: -70px;
  cursor: pointer;
}

#Tier1Yes{
  clip:rect(50px,320px,130px,180px);
}

#Tier2Yes{
  clip:rect(210px,230px,280px,100px);
}

#Tier3Yes{
  clip:rect(380px,300px,450px,95px);
}

#Tier4Yes{
  clip:rect(250px,700px,320px,590px);
}

#Tier1No{
  clip:rect(50px,700px,130px,450px);
}

#Tier2No{
  clip:rect(210px,390px,280px,310px);
}

#Tier3No{
  clip:rect(310px,400px,380px,320px);
}

#Tier4No{
  clip:rect(425px,620px,490px,340px);
}

#Tier1EndImg{
  clip:rect(115px,680px,210px,470px);
}

#Tier2EndImg{
  clip:rect(210px,565px,310px,385px);
}

#Tier3EndImg{
  clip:rect(440px,320px,575px,85px);
}

#Tier4EndImg{
  clip:rect(476px,600px,590px,350px);
}

#Tier4YesEndReloadImg{
  clip:rect(200px,630px,255px,550px);
}
