@import "css/mixins";

form.standard {
  width: 470px;

  .flashErrors {
    font-size: 1.0em;
    margin-bottom: 10px;
    li {
      margin-left: 20px;
      padding: 3px 0px;
      color: $highlight;
    }
  }

  table {
    width: 100%;

    .label {
      text-align: right;
      font-size: 1.2em;
      padding-right: 10px;
    }

    .field {
      width: 80%;
    }
  }

  input[type=text], input[type=password] {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid $lightGray;
    padding: 0px 5px;
    margin: 5px 0px;
    font-size: 1.2em;
  }

  input[type=submit] {
    @include black-button;
    width: 200px;
    margin: 5px 0px;
    font-family: "Helvetica Neue", Helvetica, "Lucida Sans", Arial, Verdana, sans-serif;
    font-weight: 300;
    font-size: 1.0em;
  }

  textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid $lightGray;
    padding: 5px;
    font-size: 1.1em;
    font-family: "Helvetica Neue", Helvetica, "Lucida Sans", Arial, Verdana, sans-serif;
    letter-spacing: 0.05em;
  }
}


#forgotPassword {
  display:none;
  margin-top: 10px;
  /*display: table;*/
  table-layout: fixed;
  margin-left:250px;

  .forgotPassword {
   display:none;
    vertical-align: bottom;
    display: table-cell;
    margin-top: 0px;

    h3 {
      margin: 0px;
      text-align: center;
    }

    form.standard {
      width: 335px;
    }
  }
}

#forgotPassLink{
float:right;
margin-right:35px;

}
