@import "css/mixins";

form.standard {
  width: 470px;

  .flashErrors {
    margin-bottom: 10px;
    li {
      margin-left: 20px;
      padding: 3px 0px;
      color: $highlight;
    }
  }

  table {
    width: 100%;

    td { padding: 5px 0px; }

    .label {
      text-align: right;
      font-size: 1.2em;
      padding-right: 10px;
    }

    .field {
      width: 80%;
    }

    input[type=text], input[type=password] {
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid $lightGray;
      padding: 0px 5px;
      font-size: 1.2em;
    }
  }

  input[type=submit] {
    @include black-button;
    width: 200px;
    font-family: "Helvetica Neue", Helvetica, "Lucida Sans", Arial, Verdana, sans-serif;
  }
}
