@import "css/mixins";

#home {
  #siteSummary {
    margin-bottom: 20px;
    padding: 0px 30px;

    border-bottom: 1px solid $lightGray;

    p {
      font-size: 1.2em;
    }

    #pressLogos {
      margin: 10px auto;
      td { padding: 0px 20px; }
    }
  }

  #announcement {
    margin-top: 40px;
    text-align: center;
  }

  #adGrid {
    margin: 20px auto;

    table {
      table-layout: fixed;
      border-collapse: collapse;
      margin-left: 20px;

      td {
        padding: 10px 0px;
        padding-right: 60px;

        img {
          float: left;
          margin-top: 6px;
          border: 2px solid $darkGray;
          width: 100px;
        }
        vertical-align: top;

        .adMetadata {
          margin-left: 120px;

          h3 {
            margin: 0px;

            a {
              color: #333;
              &:hover { color: $highlight; }
            }
          }

          p {
            padding: 5px 0px;
            font-size: 0.8em;
            text-align: justify;
          }

          .amount {
            font-size: 1.2em;
            .progress {
              color: $highlight;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

