@import "css/mixins";

#home {
  #letterbox.faces {
    background-image: url(/images/face_banner_light_980x300.png);

    padding-top: 65px;
    height: 235px;

    #siteSummary {
      background: #EEEEEE;
      margin: auto;
      width: 800px;
      padding: 40px;
      height: 80px;
      border: 2px solid #555;

      p {
        font-size: 1.2em;
        margin: 10px 0px;
      }
    }
  }

  #announcement {
    margin-top: 40px;
    text-align: center;
  }

  #adGrid {
    margin: 40px 0px;

    table {
      width: $pageWidth;
      margin: auto;
      table-layout: fixed;
      border-collapse: collapse;

      td {
        padding: 20px;
        background: #EEEEEE;

        img {
          float: left;
          margin-right: 10px;
        }
        vertical-align: top;

        h3 a {
          color: #333;
          &:hover { color: $highlight; }
        }

        p {
          padding: 5px 0px;
        }

        .amount {
          font-size: 1.2em;
          .progress {
            color: $highlight;
            font-weight: bold;
          }
        }
      }
    }
  }
}
