@import "css/mixins";

#home {
  #letterbox.faces {
    background-image: url(/images/face_banner_distressed.png);

    padding-top: 150px;
    height: 250px;
  }

  #banner {
    height: 60px;
    background: url(/images/classy_fabric.png);
    text-align: center;
    font-size: 3.0em;
    padding-top: 10px;
    font-weight: bold;
    border-bottom: 1px solid darken($lightGray, 20%);
    color: $lightGray;
  }

  #categories {
    .category {
      margin-bottom: 100px;

      .smallAd {
        display: inline-block;
        width: 200px;
        height: 240px;
        margin-right: 35px;
        margin-top: 50px;
        float: left;
        overflow: hidden;
        padding: 5px;
        color: $lightGray;
        background-color:rgba(10,10,10,0.20);
        @include box-shadow(0px 0px 5px 5px rgba(10,10,10,0.20));

        .thumbnail {
          height: 200px;
          width: 200px;
          background: #555555;
          &:hover { opacity: 0.8; }

          img {
            display: block;
            margin: auto;
          }
        }

        .thermometer {
          width: 198px;
          border-top: none;

          .thermometerProgress {
            height: 5px;
            background: $green;
          }
        }

        .title {
          padding: 3px 0px;
        }

        .description {
          line-height: 1.5em;
        }

        &:nth-of-type(1) .thermometerProgress { width: 75%; }
        &:nth-of-type(2) .thermometerProgress { width: 20%; }
        &:nth-of-type(3) .thermometerProgress { width: 40%; }
        &:nth-of-type(4) .thermometerProgress { width: 10%; }
        &:nth-of-type(5) .thermometerProgress { width: 95%; }
        &:nth-of-type(6) .thermometerProgress { width: 70%; }
        &:nth-of-type(7) .thermometerProgress { width: 80%; }
        &:nth-of-type(8) .thermometerProgress { width: 60%; }
      }
    }
  }
}
