@import "css/mixins";



#home {

  #siteSummary {
    margin-bottom: 20px;
    padding: 0px 30px;

    border-bottom: 1px solid $lightGray;

    p {
      font-size: 1.2em;
    }

    #pressLogos {
      margin: auto;
      td { padding: 0px 20px; }
    }
  }

  #announcement {
    margin-top: 40px;
    text-align: center;
  }
  
  
  
#flowChartTitleDiv{
	position:absolute;
	margin-left:140px;
	margin-top:-45px;
	text-align:center;
	width:400px;
	font-size:1.6em;
}

#fullFlow{
margin-top:60px;
	width:800px;
	height: 600px;

}
#videoHeading{
width:100%;
height:20px;
background-color:red;
padding:5px;

}
.FlowChartMain{
 	
}

a.whiteHighlight{
&:hover { color: white; }

}
  
.Tiers{
	position:absolute;
	display:none;
}
  
.Tier1{
	position:absolute;

}
  
.subFlowChart{
  	position:absolute;
	width:800px;
	height:600px;
	margin-left:-70px;

}
.subFlowChartFork{
  	position:absolute;
	width:800px;
	height:600px;
	margin-left:-70px;
	cursor:pointer;

}
  		
.subFlowChartEnd{
  	position:absolute;
	width:800px;
	height:600px;
	margin-left:-70px;
	cursor:pointer;

}
  	
  	
  	
  
  
  #adGrid {
  
    margin: 20px auto;

    table {
      table-layout: fixed;
      border-collapse: collapse;
      margin-left: 20px;

      td {
        padding: 10px 0px;
        padding-right: 60px;

        img {
          float: left;
          margin-top: 6px;
          border: 2px solid $darkGray;
          width: 100px;
        }
        vertical-align: top;

        .adMetadata {
          margin-left: 120px;

          h3 {
            margin: 0px;

            a {
              color: #333;
              &:hover { color: $highlight; }
            }
          }

          p {
            padding: 5px 0px;
            font-size: 0.8em;
            text-align: justify;
          }

          .amount {
            font-size: 1.2em;
            .progress {
              color: $highlight;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

