@import "css/mixins";

#profile {
  form.standard {
    .flashErrors {
      font-size: 1.0em;
      margin-bottom: 10px;

      li {
        margin-left: 20px;
        padding: 3px 0px;
        color: $highlight;
      }
    }

    table {
      .field { width: 55%; }
    }
  }
}
