@import "css/mixins";

#submitAd, #submitComplete {
  margin: auto;
  width: 470px;
  h2 { margin-bottom: 20px; }
  p { font-size: 1.2em; }
}

#submitAd {
  #submitForm {
    .hint {
      display: block;
      font-size: 1.0em;
      color: $lightText;
    }

    .submitField { margin: 20px 0px; }

    input[type=submit] {
      display: block;
      margin: 20px auto;
    }

    .terms {
      font-size: 1.0em;
      color: $lightText;
    }
  }
}

#submitComplete {
  p {
    font-size: 1.2em;
    margin: 10px 0px;
  }

  a.button {
    display: block;
    margin: 20px auto;
  }
}
