@import "css/mixins";

#submitAd, #submitComplete {
  margin: auto;
  width: 800px;
  h2 { margin-bottom: 20px; }
  p { font-size: 1.2em; }
}

#submitAd {
  #submitForm {
    .hint {
      display: block;
      font-size: 0.9em;
      color: $lightText;
    }

    .submitField { margin: 20px 0px; }

    input[type=submit] {
      display: block;
      margin: 20px auto;
    }

    .aside {
      font-size: 0.9em;
    }
  }
}

#submitComplete {
  p {
    margin: 10px 0px;
  }

  a.button {
    display: block;
    margin-top: 30px;
  }
}
