@import "css/mixins";

#tabs {

	font-size: 90%;
	margin: 20px 0;
}

#tabs #tabTitle {
	float: left;
	background: #fff;
	width: 500px;
	padding-top: 4px;
	font-size:1.3em;
}

#tabHeaders {

	margin-left: 8px;
	list-style: none;
}

#tabHeaders {
	display: inline;
	
}

#tabs #tabHeaders, #tabs #tabHeaders a {

	float: left;
	margin-left: 0px;
}

#tabs #tabTitle #tabHeaders.active {  

	border-top:2px $lightestGray solid;
	
	background: $lightestGray;
}

#tabs #tabTitle #tabHeaders.active a {
	color: #333333;
}

#tabs div {
  background: $lightestGray;
	clear: both;
	padding: 15px;
	min-height: 200px;
	max-width:450px;
}

#tabs div h3 {
	margin-bottom: 12px;
}

#tabs div p {

	line-height: 150%;
}

#tabs #tabTitle #tabHeaders a {

	text-decoration: none;
	padding: 8px;
	color: #000;
	font-weight: bold;
}

#tabs li {
margin-left: 40px;
}