<%
# Parameters:
#   - url: the url to "like"

  url = CGI.escape(url) if url
%>
<span class="facebookLike">
  <iframe src="//www.facebook.com/plugins/like.php?href=<%= url %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=10677002222" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</span>
